Package: com.whitetailani.cocoatop64e
Name: CocoaTop
Depends: 
Conflicts: ru.domo.cocoatop, ru.domo.cocoatop64
Provides: ru.domo.cocoatop, ru.domo.cocoatop64
Version: 3.0.0
Architecture: iphoneos-arm
Description: GUI Process Viewer for iOS, updated for iOS 13 by SXX and iOS 15/rootless by WhitetailAni.
Maintainer: WhitetailAni
Author: Domo, SXX, WhitetailAni
Section: Utilities
